<h1>Game: <%= @game.id %></h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <div><%= player.user.username %></div>
      <div><%= player.role %></div>
      <div><%= player.host ? "host" : "" %></div>
    </li>
  <% end %>
</ul>

<%= link_to @current_player.role == "player" ? "Resign" : "Leave", leave_game_path(@game), method: :post %> 

<div>
  <% @game.squares.each do |square| %>
    <span>(<%= square.x %>, <%= square.y %>) Player: <%= square.player %>, </span>  
  <% end %>
</div>

<script>
  const userId = "<%= current_user.id %>";
  const gameId = "<%= @game.id %>";
  const gameData = JSON.parse("<%= j @game.to_json.html_safe %>");
</script>

<%= javascript_pack_tag "channel_subscription" %>