<%= render "shared/header" %>
<h1>Lobby <%= @lobby.id %></h1>
<div><%= link_to "Leave Lobby", leave_lobby_path, method: :post %></div>

<% @players.each do |player| %>
  <br>
  <%= render "player_listing", player: player %>
<% end %>

<div>
  <%= link_to "Switch Role [player/observer]", swap_role_path(@current_player), method: :post %>
</div>